.card {
  max-width: 320px;

  @include desktop {
    max-width: 288px;
  }

  @include tablet {
    max-width: 320px;
  }

  @include mobile {
    max-width: 155px;
  }

  &__wrapper {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;

    border-radius: var(--border-radius-card);

    @include mobile {
      margin-bottom: 11px;
    }

    &:hover {
      .card__details {
        visibility: visible;
        transform: translateY(0);
      }
    }
  }

  &__img {
    height: auto;
  }

  &__details {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 31px;
    background-color: rgba(245, 245, 245, 0.7);

    visibility: hidden;
    transform: translateY(100%);
    transition: var(--transition-duration);

    @include desktop {
      padding-inline: 14px;
    }

    @include tablet {
      padding-inline: 32px;
    }

    @include mobile {
      padding-inline: 0;
    }
  }

  &__link {
    display: block;
    padding-block: 13px;
    text-align: center;
    border-radius: var(--border-radius);
    background: var(--color-orange);
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-light);

    @include hover {
      background-color: #ff5e00;
    }
  }

  &__promotion {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 8px 40px;
    background-color: var(--color-dark-alt);
    border-radius: var(--border-radius);

    color: var(--color-light);
    font-size: 16px;
    font-weight: 600;

    @include mobile {
      padding: 2px 15px;

      font-size: 14px;
    }
  }

  &__title {
    margin-bottom: 12px;

    font-size: 18px;

    @include mobile {
      margin-bottom: 9px;

      font-size: 16px;
      font-weight: 500;
    }
  }

  &__price {
    font-size: 22px;

    @include mobile {
      font-size: 16px;
    }

    &_discount {
      margin-right: 16px;
      color: var(--color-orange);

      @include mobile {
        margin-right: 7px;
      }
    }

    &_old {
      font-weight: 600;
      text-decoration-line: line-through;
      color: var(--color-gray);

      @include mobile {
        font-size: 14px;
      }
    }
  }
}
