.header {
  &__top {
    padding-block: 12px;
    background-color: var(--color-dark-alt);

    color: var(--color-light);
    font-size: 16px;
    font-weight: 400;
    line-height: 1;

    &-inner,
    &-menu {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      column-gap: 70px;
    }

    &-link {
      @include hover {
        opacity: 0.7;
      }
    }

    &-button {
      @include reset-button;

      color: inherit;

      @include hover {
        opacity: 0.7;
      }
    }
  }

  &__bottom {
    padding-block: 12px;

    &-inner,
    &-list {
      display: flex;
      align-items: center;
    }

    &-logo {
      margin-right: 243px;
    }

    &-list {
      justify-content: center;
      column-gap: 100px;
    }

    &-link {
      position: relative;

      font-size: 16px;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;

      @include hover {
        &::after {
          width: 100%;
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        translate: -50%;
        height: 2px;
        width: 0;
        background-color: currentColor;
        transition-duration: inherit;
      }
    }

    &-controls {
      display: flex;
      justify-content: flex-end;
      column-gap: 20px;
      margin-left: auto;
    }

    &-basket {
      position: relative;

      padding: 12px 19px;
      padding-left: 57px;
      border-radius: var(--border-radius);
      background-color: var(--color-dark-alt);

      color: var(--color-light);
      font-size: 16px;
      font-weight: 400;
      line-height: 1;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 19px;
        translate: 0 -50%;
        width: 32px;
        aspect-ratio: 1;
        background: center / contain no-repeat url('./../../images/icons/basket.svg');
      }

      &::after {
        content: attr(data-count);
        position: absolute;
        top: 5px;
        left: 35px;
        width: 18px;
        aspect-ratio: 1;
        background-color: var(--color-light);
        border-radius: 50%;

        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.4;
        color: var(--color-dark-charcoal);
        text-align: center;
      }

      @include hover {
        -webkit-box-shadow: 0px 0px 10px 5px rgba(35, 24, 21, 0.2);
        -moz-box-shadow: 0px 0px 10px 5px rgba(35, 24, 21, 0.2);
        box-shadow: 0px 0px 10px 5px rgba(35, 24, 21, 0.2);
      }
    }
  }
}
