.search-results {
  padding-top: 57px;
  padding-bottom: 61px;

  &__title {
    font-family: Korataki;
    font-size: 44px;
    font-weight: 400;

    margin-bottom: 43px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 50px;
    column-gap: 40px;
  }
}
