:root {
  --color-light: #ffffff;
  --color-light-alt: #f5f5f5;
  --color-dark: #000000;
  --color-dark-alt: #231815;
  --color-dark-gray: #0c0c0c;
  --color-dark-charcoal: #1a1a1a;
  --color-orange: #e45302;
  --color-gray: #808080;

  --border-radius: 100px;
  --border-radius-small: 89px;
  --border-radius-card: 20px;

  --font-family-base: 'Lato', sans-serif;

  --container-width: 1440px;
  --container-padding-x: 20px;

  --transition-duration: 0.2s;
}
