*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
}

html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Korataki";
  src: url("/fonts/Korataki.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #ffffff;
  --color-light-alt: #f5f5f5;
  --color-dark: #000000;
  --color-dark-alt: #231815;
  --color-dark-gray: #0c0c0c;
  --color-dark-charcoal: #1a1a1a;
  --color-orange: #e45302;
  --color-gray: #808080;
  --border-radius: 100px;
  --border-radius-small: 89px;
  --font-family-base: "Lato", sans-serif;
  --container-width: 1440px;
  --container-padding-x: 20px;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 390px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 391px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-family: var(--font-family-base);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  color: var(--color-dark-alt);
  background-color: var(--color-light);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

.header__top {
  padding-block: 12px;
  background-color: var(--color-dark-alt);
  color: var(--color-light);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}
.header__top-inner, .header__top-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  -moz-column-gap: 70px;
       column-gap: 70px;
}
.header__top-button {
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;
}
.header__bottom {
  padding-block: 12px;
}
.header__bottom-inner, .header__bottom-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__bottom-list {
  justify-content: center;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
.header__bottom-link {
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}
.header__bottom-controls {
  display: flex;
  justify-content: flex-end;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.header__bottom-basket {
  position: relative;
  padding: 12px 19px;
  padding-left: 57px;
  border-radius: var(--border-radius);
  background-color: var(--color-dark-alt);
  color: var(--color-light);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}
.header__bottom-basket::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 19px;
  translate: 0 -50%;
  width: 32px;
  aspect-ratio: 1;
  background: center/contain no-repeat url("./../../images/icons/basket.svg");
}
.header__bottom-basket::after {
  content: attr(data-count);
  position: absolute;
  top: 5px;
  left: 35px;
  width: 18px;
  aspect-ratio: 1;
  background-color: var(--color-light);
  border-radius: 50%;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-dark-charcoal);
  text-align: center;
}
@media (hover: hover) {
  .header__bottom-basket:hover {
    box-shadow: 0px 0px 10px 5px rgba(35, 24, 21, 0.2);
  }
}
@media (hover: none) {
  .header__bottom-basket:active {
    box-shadow: 0px 0px 10px 5px rgba(35, 24, 21, 0.2);
  }
}
.header-hover-line {
  position: relative;
}
@media (hover: hover) {
  .header-hover-line:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .header-hover-line:active::after {
    width: 100%;
  }
}
.header-hover-line::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  height: 2px;
  width: 0;
  background-color: currentColor;
  transition-duration: inherit;
}

.search {
  position: relative;
}
.search-input {
  max-width: 170px;
  border: 1px solid var(--color-light-alt);
  border-radius: var(--border-radius-small);
  border-color: black;
  padding: 10px 21px;
  padding-right: 37px;
  color: var(--color-dark-alt);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}
.search-input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 0;
  width: 0;
}
.search-input[type=search]::-moz-placeholder {
  text-overflow: "";
}
.search-input[type=search]::-ms-clear {
  display: none;
}
@media (hover: hover) {
  .search-input:hover {
    background-color: var(--color-light-alt);
    border-color: var(--color-gray);
  }
}
@media (hover: none) {
  .search-input:active {
    background-color: var(--color-light-alt);
    border-color: var(--color-gray);
  }
}
.search-button {
  padding: 0;
  background-color: transparent;
  border: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  right: 0;
  translate: 0 -50%;
  width: 39px;
  aspect-ratio: 1;
  border-radius: var(--border-radius-small);
}
@media (hover: hover) {
  .search-button:hover {
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.2) inset;
  }
}
@media (hover: none) {
  .search-button:active {
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.2) inset;
  }
}

.footer {
  background-color: var(--color-dark-gray);
  color: var(--color-light-alt);
}
.footer__logo-img {
  filter: invert(1);
}/*# sourceMappingURL=styles.css.map */